<% include partials/links %>
<script type="text/javascript" src="js/typed.min.js"></script>
<script type="text/javascript" src="js/splash.js"></script>
<link rel="stylesheet" type="text/css" href="css/landing.css" />
</head>
<body>
    <h1>
<div id="fun">
<div class="container">
		<span id="typed"></span>
	<script>
		type();
	</script>
</h1>
</div>
</div>
</div>
    </body>
    </html>